
input{
    width: 100px;
}

.inputsTrack{
    display: flex;
    background-color: blueviolet;
}

.inputTrack{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: aqua;
}

.labelRange{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: brown;
}

.valueRange{
    display: flex;
}

.valueRange input{
    width: 100%;
}

.bound_label_Left{
    display: inline;
    text-align: left;
    width: 40px;
}

.bound_label_Right{
    display: inline;
    text-align: right;
    width: 40px;
}
