
<div class=inputTrack>
    <div class="labelRange">
      <span class="bound_label_Left">0</span>
      <span> L - Verde </span>
      <span class="bound_label_Right">255</span>
    </div>
    <div class="valueRange">
      <h4>{{ varTrackbar2 }}</h4>
      <input type="range" min="0" max="255" name="trackbar2" value="{{ varTrackbar2 }}" onchange="send()">
    </div>
    <div class="valueRange">
      <input type="number" min="0" max="255" name="number2" value="{{ varTrackbar2 }}" onchange="send()">
    </div>
</div>